<h1>ジャンル検索</h1>
	<div>
		<% @genres.each do |genre| %>
		    <div><%= link_to genre.name, items_path(genre: genre.id) %></div>
		<% end %>
	</div>

<P>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</P>

<h1>新着商品</h1>
	<div>
		<% @items.each do |item| %>
			<td><span>
				<%= attachment_image_tag item, :image, :fill, 60, 60 %>
			</span></td>
			<td><span><%= item.name %></span></td>
			<td><span><%= item.price %></span></td>
		<% end %>
	</div>

<%= link_to "全ての商品を見る>", items_path %>