<h1>会員情報編集</h1>

<%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>

<div>会員ID</div>
<p><%= @customer.id %></p>

<div>氏名</div>
<%= f.text_field :last_name %>
<%= f.text_field :first_name %>

<div>フリガナ</div>
<%= f.text_field :last_name_kana %>
<%= f.text_field :first_name_kana %>

<div>郵便番号</div>
<%= f.text_field :postal_code %>

<div>住所</div>
<%= f.text_field :address %>

<div>電話番号</div>
<%= f.text_field :telephone_number %>

<div>住所</div>
<%= f.text_field :email %>

<div>会員ステータス</div>
  <p>
  <%= f.radio_button :is_deleted, :true %>
  <%= f.label :is_deleted, "有効", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :is_deleted, :false %>
  <%= f.label :is_deleted, "退会", {value: :false, style: "display: inline-block;"} %>
  </p>

  <div><%= f.submit '変更を保存' %></div>
<% end %>