<h1>配送先編集</h1>

<%= form_with model: @address, url: address_path, local: true do |f| %>
	<div>郵便番号（ハイフンなし）</div>
		<p><%= f.text_field :postal_code %></p>

	<div>住所</div>
		<p><%= f.text_area :address %></p>

	<div>宛名</div>
		<p><%= f.text_field :name %></p>

	<div><%= f.submit '変更内容を保存' %></div>

<% end %>