<h1>ショッピングカート</h1>

<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @cart_items.each do |cart_item| %>
			<tr>
				<td><span>
				<%= attachment_image_tag cart_item.item, :image, :fill, 60, 60 %>
				</span></td>
				<td><span><%= cart_item.item.name %></span></td>
				<td><span><%= cart_item.item.price %></span></td>
				<td><span><%= cart_item.amount %></span></td>
				<td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete ,"data-confirm" => "本当に消しますか?",class: "btn btn-danger" %></td>
			</tr>
		<% end %>
		<tr><%= link_to "買い物を続ける", items_path %></tr>
	</tbody>
</table>